{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="container p-3">
    <h1>About Our Event Management System</h1>
    <p>
        Our Event Management System is designed to streamline the process of planning, organizing, and managing events of all sizes. Whether it's a corporate conference, a wedding, or a music festival, our system provides the tools necessary to ensure a successful event.
    </p>
    <p>
        Key features of our Event Management System include:
    </p>
    <ul>
        <li>Efficient event scheduling and calendar management</li>
        <li>Online registration and ticketing</li>
        <li>Guest and attendee management</li>
        <li>Budget tracking and financial management</li>
    </ul>
    <p>
        With our user-friendly interface and comprehensive set of features, organizing an event has never been easier. Whether you're an event planner, a business owner, or an individual organizing a personal event, our Event Management System is here to help you every step of the way.
    </p>
</div>
{% endblock %}
